<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <table>
        <thead>
            <tr style="font-size: 25px; font-weight: bold">
                <th>ID</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${user}">
                <td th:text="${user.getId()}">
                <td th:text="${user.getUsername()}">
                <td>
                    <form th:method="GET" th:action="@{/admin/{id}/show-info(id = ${user.getId()})}">
                        <input type="submit" value="more">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<form method="GET" action="/admin/create-user">
    <button type="submit">Create new user</button>
</form>
<br>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout!"/>
</form>

</body>
</html>